<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<% if (locals.user != undefined) { %>
	<%- include('./partials/headerLogueado') %>
 <% } else { %>
	<%- include('./partials/headerOriginal') %>
<% } %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < 4; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/id/<%=data[i].id%>">
							<figure class="product-box_image">
								<img src="<%= data[i].imagen %>" alt="<%=data[i].producto %>">
							</figure>
							<article class="product-box_data">
								<h2><%=data[i].producto %></h2>
								<p><%= data[i].descripcion %></p></a>
								<a href="/users/profile/id/<%=data[i].productoUsuario.id %>"><p><strong>Usuario: <%= data[i].productoUsuario.usuario %></strong></p></a>
							</article>
					</section>
				</div>
			<% } %>
			
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Recomendados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 4; i < 8; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/id/<%=data[i].id%>">
							<figure class="product-box_image">
								<img src="<%= data[i].imagen %>" alt="<%=data[i].producto %>">
							</figure>
							<article class="product-box_data">
								<h2><%=data[i].producto %></h2>
								<p><%= data[i].descripcion %></p></a>
								<a href="/users/profile/id/<%=data[i].productoUsuario.id %>"><p><strong>Usuario: <%= data[i].productoUsuario.usuario %></strong></p></a>
							</article>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>