<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<% if (locals.user != undefined) { %>
	<%- include('./partials/headerLogueado') %>
 <% } else { %>
	<%- include('./partials/headerOriginal') %>
<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formsConsigna" action="/users/profile" method="get">
                <label class="blancos" for="email">Email:</label>
                <input class="textosForms" type="email" id="email" name="email" value="<%=data.email%>"><br>
              
                <label class="blancos" for="usuario">Usuario:</label>
                <input class="textosForms" type="text" id="usuario" name="usuario" value="<%=data.usuario  %>"><br>
              
                <label class="blancos" for="contraseña">Contraseña:</label>
                <input class="textosForms" type="password" id="contraseña" name="contraseña" value="<%=data.contraseña%>"><br>
              
                <label class="blancos" for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input class="textosForms" type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="<%=data.fechaNacimiento%>"><br>
              
                <label class="blancos" for="nro_documento">Nro de Documento:</label>
                <input class="textosForms" type="number" id="nro_documento" name="nro_documento" value="<%=data.dni%>"><br>
              
                <label class="blancos" for="foto_perfil">Foto de Perfil:</label>
                <input class="textosForms" type="text" id="foto_perfil" name="foto_perfil" value="<%=data.fotoPerfil%>"><br>
              
                <input class="textosForms" type="submit" value="Enviar">
              </form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>